

<style>
.news-list {
  margin: 1em 0;
  padding: 0;
}

.news-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.8em;
  line-height: 1.5;
}

.news-date {
  font-weight: bold;
  color: var(--global-theme-color, #002D72);
  margin-right: 1em;
  min-width: 80px;
  flex-shrink: 0;
}

.news-content {
  flex: 1;
  color: var(--global-text-color, #000000);
}

</style>




<div class="news-list">
  {% for link in site.data.news.main %}
  <div class="news-item">
    <span class="news-date">[{{link.date}}]</span>
    <span class="news-content">{{link.content}}</span>
  </div>
  
  {% endfor %}
</div>